body{
  background-color : white;
  font-family : Meiryo;
}

p{
  font-size : 13pt;
  color : black;
  margin : 20px
}

h1{
  font-size : 18pt;
  color : black;
  margin : 20pt
}

h2{
  font-size : 16pt;
  color : black;
  margin : 18pt
}

code{
  font-family: Menlo, Consolas;
  font-size : 12pt;
}

blockquote {
  margin: 0;
 margin-bottom: 16px;
 margin-top: 0;
 border-left: .25em solid #dfe2e5;
 color: #6a737d;
 padding: 0 1em;
}

blockquote>:first-child {
 margin-top: 0;
}

blockquote>:last-child {
 margin-bottom: 0;
}


blockquote cite {
  display: block;
  text-align: right;
  color: black;
  font-size: 0.9em;
}
